<!DOCTYPE HTML>
{% load static %}

<html>
	<head>
		<title>FindFY</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'base/assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'base/assets/css/noscript.css' %}" /></noscript>
      	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="divided">			
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1><strong>FindFY</strong></h1>
							<h3 class="major">Cardápio QRCode e Gestão para bares, pubs e restaurantes</h3>
							<h5 class="major">Divulgue seu estabelecimento na nossa rede gratuitamente.</h5>
							<ul class="actions stacked">
								<li><a href="/app" class="button big wide smooth-scroll-middle">Experimentar o app</a></li>
							</ul>
						</div>
					</section>
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">	
						<div class="content">
							<h2>Obtenha o seu menu com QRCode em 2 minutos.</h2>
							<p>Nosso app gera um menu para o seu estabelecimento em poucos instantes. Moderno, intuitivo e com funcionalidades incríveis.</p>
							<ul class="actions stacked">
								<li><a href="/app" class="button">Testar grátis agora</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="{% static 'base/images/imagem-cardapio.jpg' %}" alt="" />
						</div>
					</section>
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Gestão na palma da mão</h2>
							<p>Você pode optar por utilizar somente o cardápio para visualização dos produtos ou modernizar seu estabelecimento com a gestão integrada do nosso app.</p>
							<p>Não é necessário nenhuma instalação em seu smartphone ou computador. Apenas faça login com seu e-mail e começe a utilizar.</p>
							<ul class="actions stacked">
								<li><a href="/app" class="button">Teste Grátis Agora</a></li>
							</ul>
						
						</div>
						<div class="image">
							<img src="{% static 'base/images/image43.jpg' %}" alt="" />
						</div>
					</section>
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">	
						<div class="content">							
							<h2>Interação entre seus clientes</h2>
							<p>Ativando a funcionalidade <b>"Quem está no local"</b>, seus clientes poderão optar por interagir entre si.</p>
							<p>A funcionalidade <b>"Quem está no local"</b> ajuda na permanência de clientes no seu estabelecimento, pois somente pessoas que estiverem logadas à uma mesa, podem interagir.</p>		
						</div>
						<div class="image">
							<img src="{% static 'base/images/image48.jpg' %}" alt="" />
						</div>
					</section>
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
						<br><br><br>
							<h2>Rede de amigos no seu estabelecimento</h2>
							<p>Clientes podem curtir, curtir anônimo, bloquear ou se preferir, permanecer invisível.</p>
						<br><br><br>
						</div>
						<div class="image">
							<img src="{% static 'base/images/image44.jpg' %}" alt="" />
						</div>
					</section>
					<section class="wrapper style1 align-center">
						<div class="inner">
							<h2>Confira algumas telas e funcionalidades do App.</h2>
							<p>Fácil e intuitivo. Em apenas alguns minutos, você tem a gestão do seu estabelecimento na palma da sua mão.</p>
						</div>
						<!-- Gallery -->
							<div class="gallery style2 big lightbox onscroll-fade-in">
								<article>
									<a href="{% static 'base/images/image30f.jpg' %}" class="image">
										<img src="{% static 'base/images/image30t.jpg' %}" alt="" />
									</a>
									<div class="caption">
										<h3><b>Cadastre seu estabelecimento</b></h3>
										<p></p>
										<ul class="actions fixed">
											<li><span class="button primary"><i class="fas fa-plus fa-lg"></i></span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="{% static 'base/images/image31f.jpg' %}" class="image">
										<img src="{% static 'base/images/image31t.jpg' %}" alt="" />
									</a>
									<div class="caption">
										<h3><b>Cardápio</b></h3>
										<h4><b>Em um clique, nosso sistema gera o seu menu moderno com muitas funcionalidades.</b></h4>
										<ul class="actions fixed">
											<li><span class="button primary"><i class="fas fa-plus fa-lg"></i></span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="{% static 'base/images/image32f.jpg' %}" class="image">
										<img src="{% static 'base/images/image32t.jpg' %}" alt="" />
									</a>
									<div class="caption">
										<h3><b>QRCode e tela de consumo</b></h3>
										<p></p>
										<ul class="actions fixed">
											<li><span class="button primary"><i class="fas fa-plus fa-lg"></i></span></li>
										</ul>
									</div>
								</article>
								
								<article>
									<a href="{% static 'base/images/image34t.jpg' %}" class="image">
										<img src="{% static 'base/images/image34t.jpg' %}" alt="" />
									</a>
									<div class="caption">
										<h3><b>Cadastro de Produtos</b></h3>
										<h4><b>Ao ativar, desativar ou alterar produtos, as modificações entram em vigor imediatamente.</b></h4>
										<ul class="actions fixed">
											<li><span class="button primary"><i class="fas fa-plus fa-lg"></i></span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="{% static 'base/images/image35f.jpg' %}" class="image">
										<img src="{% static 'base/images/image35t.jpg' %}" alt="" />
									</a>
									<div class="caption">
										<h3><b>Cadastre os colaboradores e ative-os nas suas respectivas áreas de atuação.</b></h3>
										{% comment %} <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p> {% endcomment %}
										<ul class="actions fixed">
											<li><span class="button primary"><i class="fas fa-plus fa-lg"></i></span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="{% static 'base/images/image37f.jpg' %}" class="image">
										<img src="{% static 'base/images/image37t.jpg' %}" alt="" />
									</a>
									<div class="caption">
										<h3><b>Tela de Gestão do Atendente</b></h3>
										<p><b>Todas solicitações são gerenciadas em uma única tela.</b></p>
										<ul class="actions fixed">
											<li><span class="button primary"><i class="fas fa-plus fa-lg"></i></span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="{% static 'base/images/image21.jpg' %}" class="image">
										<img src="{% static 'base/images/image21.jpg' %}" alt="" />
									</a>
									<div class="caption">
										<h3><b>Tela de Gestão Desktop</b></h3>
										<p><b>Todas telas tem versão Desktop, caso smartphones ou tables não estiverem disponíveis.</b></p>
										<ul class="actions fixed">
											<li><span class="button primary"><i class="fas fa-plus fa-lg"></i></span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="{% static 'base/images/image23.jpg' %}" class="image">
										<img src="{% static 'base/images/image23.jpg' %}" alt="" />
									</a>
									<div class="caption">
										<h3><b>Tela de Gestão Master</b></h3>
										<p><b>A Gestão Master permite ser usada em um desktop onde todos os atendentes são centralizados em uma única tela.</b></p>
										<ul class="actions fixed">
											<li><span class="button primary"><i class="fas fa-plus fa-lg"></i></span></li>
										</ul>
									</div>
								</article>
								
								<article>
									<a href="{% static 'base/images/image41.jpg' %}" class="image">
										<img src="{% static 'base/images/image41.jpg' %}" alt="" />
									</a>
									<div class="caption">
										<h3><b>Tela de Gerencial</b></h3>
										<p><b>Os números do seu estabelecimento sempre atualizados e na palma da mão.</b></p>
										<ul class="actions fixed">
											<li><span class="button primary"><i class="fas fa-plus fa-lg"></i></span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="{% static 'base/images/image42.jpg' %}" class="image">
										<img src="{% static 'base/images/image42.jpg' %}" alt="" />
									</a>
									<div class="caption">
										<h3><b>Abra e feche o seu estabelecimento</b></h3>
										<p><b>Nenhuma atividade será autorizada quando estiver fechado e seus clientes saberão quando você estiver aberto.</b></p>
										<ul class="actions fixed">
											<li><span class="button primary"><i class="fas fa-plus fa-lg"></i></span></li>
										</ul>
									</div>
								</article>
								
							</div>

					</section>

					
				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<h3><b>FindFY</b></h3>
							<h5>Projeto experimental desenvolvido por Marcio Degan</h5>
						</div>
					</footer>
					<a href="https://wa.me/5551991571457?text=Olá" onclick="trackevent();" style="position:fixed;width:60px;height:60px;bottom:10px;right:10px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;z-index:1000;display:block;"  target="_blank">
					<i style="margin-top:16px" class="fab fa-whatsapp"></i>
				</a>
			</div>

		<!-- Scripts -->
			<script src="{% static 'base/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'base/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'base/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'base/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'base/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'base/assets/js/util.js' %}"></script>
			<script src="{% static 'base/assets/js/main.js' %}"></script>

	</body>
</html>