{% extends 'base/_base_index.html' %}

{% block title %}Resetar Senha{% endblock %}

{% block body_title %}Resetar Senha{% endblock %}

{% block body_content %}

    <div class="container back01 bg-gradient-primary">
        <br><br><br>
        <h3 class="text-white text-center font-weight-bold">FindFy</h3>

        <br>
        <h6 class="text-white text-center font-weight-bold">Esqueceu da senha?</h6>
        <h6 class="text-white text-center">Informe seu endereço de e-mail cadastrado que, em poucos segundos, enviaremos as instruções para você.</h6>

        <form class="form" method="POST" action="{% url 'password-reset' %}" autocomplete="off">
            {% csrf_token %}
            <div class="row">
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email" class="text-white font-weight-bold">Email</label>
                        <input type="email" id="email" name="email" class="form-control" required autofocus>
                    </div>
                </div>
            </div>

            <div>
                <button class="btn btn-primary btn-lg btn-block mr-2" type="submit">Resetar senha</button>
                <a class="btn btn-primary btn-lg btn-block btncustom shadow-lg mr-2" role="button" href="{% url 'index' %}">Cancelar</a>
            </div>
        </form>
<br><br><br><br><br><br><br>
    </div>

{% endblock %}