{% extends 'base/_base_index.html' %}

{% block title %}Redefinição de Senha{% endblock %}

{% block body_title %}Redefinição de Senha{% endblock %}

{% block body_content %}

    <div class="container back01 bg-gradient-primary">
        <br><br>
        
            <h3 class="text-white text-center">FindFy</h3>    
            <br>
            <h6 class="text-white text-center">
            Um e-mail foi enviado para você com instruções para re-definir sua senha.
            Se uma conta existe com o e-mail informado,
            você receberá nossa mensagem em breve.
        </h6>
<br>
        <h6 class="text-white text-center">
            Se você não receber nosso e-mail, por favor certifique-se que
            você informou corretamente o e-mail registrado com a gente.
            Verifique também sua caixa de spam.
        </h6>
<br>
        <div>
            <a class="btn btn-lg btn-block btn-primary mr-2" href="{% url 'index' %}">Início</a>
        </div>
<br><br><br><br><br><br>
    </div>

{% endblock %}