{% extends 'base/_base_index.html' %}

{% block title %}New Password{% endblock %}

{% block body_title %}New Password{% endblock %}

{% block body_content %}

    <div class="container back01 bg-gradient-dark">
    <form method="post" class="form" autocomplete="off">
    {% csrf_token %}

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="new_password1">Senha<span style="color: red;">*</span></label>
                    <input type="password" class="form-control" id="new_password1" name="new_password1" required autofocus>
                <small id="password-help" class="form-text text-muted">
                        A senha não pode ser muito similar ao seu nome ou outros dados pessoais. Precisar ter, no mínimo, 8 caracteres,
                        não podendo ser senha muito comum, nem somente números.
                </small>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="new_password2">Repetir Senha<span style="color: red;">*</span></label>
                    <input type="password" class="form-control" id="new_password2" name="new_password2" required>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary shadow-lg" name="next" value="{{ next }}">Alterar</button>
            <div id="msgSubmit" class="h3 text-center hidden"></div>
        </div>

    </form>
    </div>

{% endblock %}