{% load static %}
<!DOCTYPE html>
<html lang="pt">
  <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="App para Bares e Restaurantes" />
        <meta name="Marcio Degan" content="Python Django Web App Dev" />
        <title>FindFy</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'base/css/styles.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        <title>{% block title %}{% endblock %}</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.css">  
        {% include 'base/_head.html' %}
      
  <style>
  img {
  

  /* This rule is very important, please don't ignore this */
  max-width: 60%;
}
  </style>
  </head>
  <body class="sb-nav-fixed bg-dark">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><strong>FindFy</strong></a>
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="userDropdown" href="/" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars fa-fw"></i></a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="/profile">Meu Perfil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'password-change' %}">Trocar Senha</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'password-reset' %}">Redefinir Senha</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/accounts/logout">Sair</a>
          </div>
        </li>
      </ul>
    </nav>

    {% comment %} <div class="container">
        <h1>{% block body_title %}{% endblock %}</h1>
    </div> {% endcomment %}
    {% include 'base/_messages.html' %}
    
    {% block body_content %}{% endblock %}

    <script src="{% static 'base/js/scripts.js' %}"></script>
</body>
</html>