<div class="container-fluid">
<br>
    <h5 class="text-white text-center">Entrar ou criar uma conta</h5>
    <br>
    <div class= "row">
            <div class="col-lg-6 style="float:none;margin:auto;">
                <div class="card shadow mb-4 bg-light text-dark"  style="border-radius: 15px;">                   
                    <div class="card-body text-center">  
        
    <a class="btn btn-primary btn-lg btn-block mr-1" role="button" href="{% url 'login' %}"><strong>Entrar</strong></a><br>
    <a class="btn btn-primary btn-lg btn-block mr-1" role="button" href="{% url 'user-new' %}"><strong>Nova Conta</strong></a>
</div>
</div>
</div>

</div>