{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Criar Categoria{% endblock %}
{% block content %}

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid bg-primary">
                    <div class= "row mb-1 pt-3">
                        <div class="col-xl-6">
                            <div class="card shadow mb-2" style="border-radius: 10px;">

                                <div class="card-header text-center font-weight-bold">
                                    CADASTRO DE CATEGORIAS PARA OS MENUS
                                </div>
                                <div class="card-body">
                                    <form method="POST">
                                        {% csrf_token %}    
                                        {{ form|crispy }}
                                        <input type="submit" class="btn btn-primary btn-lg btn-block font-weight-bold" value="Criar Categoria">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card shadow mb-2 bg-light" style="border-radius: 10px;">
                                <div class="card-header text-center font-weight-bold">
                                    CATEGORIAS CADASTRADAS
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-sm table-hover text-small text-center">
                                            <thead class="thead-light text-small text-center">
                                                <tr>
                                                    <th scope="col">POSIÇÃO MENU</th>
                                                    <th scope="col">NOME</th>
                                                    {% comment %} <th scope="col">EDITAR</th> {% endcomment %}
                                                    <th scope="col">APAGAR</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for i in list %}
                                                <tr>
                                                    <td>{{ i.ordem_categoria }}</td>
                                                    <td>{{ i.categoria }}</td>
                                                    {% comment %} <td><a href="edit/{{task.id}}"><span><i class="fas fa-edit fa-lg"></i></span></a></td> {% endcomment %}
                                                    <td><a href="{{i.id}}/deletecategoria" class="delete-btn"><span><i class="fas fa-trash fa-lg"></i></span></a></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                        <div class="col-xl-6">
                            <div class="card shadow mb-2 bg-light" style="border-radius: 10px;"> 
                                <div class="card-body">
                                    <a href="/local/{{local.restaurante_ref}}/createmenu" class="btn btn-primary btn-lg btn-block" role="button"><i class="fas fa-chevron-left fa-sm"></i><strong>  Cadastrar Menu</strong></a>
                                    <br>
                                    <a href="createproduto" class="btn btn-primary btn-lg btn-block" role="button"><strong>Cadastrar Produtos</strong>   <i class="fas fa-chevron-right fa-sm"></i></a>
                                    <br>
                                    <a href="/local/{{local.restaurante_ref}}" class="btn btn-primary btn-block btn-lg" role="button"><strong>Início</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                      
            </main>
        </div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        {% comment %} <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script> {% endcomment %}
        <script src="{% static 'base/js/scripts.js' %}"></script>
{% endblock %}

